header {
    background-color: #dfdfdf;
    padding: 20px;
    text-align: center;
}

html {
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    color: #007bff;
}

#info-personal, #habilidades {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

#info-personal h2, #habilidades h2 {
    font-size: 24px;
}

#habilidades ul {
    list-style-type: square;
}

footer {
    background-color: #dfdfdf;
    color: #333;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {

    header, #info-personal, #habilidades {
        padding: 10px;
    }

    h1, h2 {
        font-size: 18px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {

    header, #info-personal, #habilidades {
        padding: 20px;
    }

    h1, h2 {
        font-size: 22px;
    }
}

@media only screen and (min-width: 1025px) {

    header, #info-personal, #habilidades {
        padding: 30px;
    }

    h1, h2 {
        font-size: 28px;
    }

}